@charset "utf-8";
/* CSS Document */
div { width:200px; height:200px; 
	background:-webkit-gradient(linear,left bottom,right top, from(#C40000),to(#FFCACA)); 
	background:-moz-linear-gradient( left bottom, #C40000, #FFCACA );
	border-radius: 100px;
	box-shadow: -10px 10px 20px #000;
	position:absolute;
	left:100px}

